@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@400;700&display=swap');

:root {
    --red: #cb7d8c;
    --green: #80b686;
    --yellow: #e9b96a;
    --dark-gray: #31302F;
    --light-gray: #8a8882;
    --white: #FAFAFA;
}

.courseRating {
    font-family: Inter;
}

.CourseContainer {
    display: flex;
    margin:1rem;
    border-radius: 1.5rem;
    overflow: hidden; 
    width: 25rem; 
    height: 16rem; 
}

.high-rated {
    background-color: var(--green); 
    border: 0.2rem solid var(--green); 
    color:var(--green)
}

.mid-rated {
    background-color: var(--yellow); 
    border: 0.2rem solid var(--yellow); 
    color: var(--yellow); 
}

.low-rated {
    background-color: var(--red); 
    border: 0.2rem solid var(--red); 
    color:var(--red)
}

.high-rated:hover, .mid-rated:hover, .low-rated:hover {
    transform: translateY(-1rem); 
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.cardLeft {
    flex: 1;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardRight {
    flex: 0 0 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 3rem;
    font-weight: bold;
}

.courseCode {
    font-family: "Inclusive Sans";
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem 0.05rem white; 
}

.courseName {
    font-family: "Inter";
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.4rem;
}

.courseType {
    margin-top: 1rem;
    font-family: Inter;
    font-size: 0.8rem;
    background-color: var(--white); 
    color: var(--light-gray);
    padding: 0.4rem 0rem;
    border-radius: 6px;
    text-align: center;
    width: 10rem; 
}

